# 1. Bloqueo total (Default Deny)
*

# 2. Permitir a Git atravesar la estructura de directorios
!*/

# 3. Infraestructura del repositorio base
!.gitignore
!README.md

# 4. Configuraciones permitidas explícitamente
# Paquete: bash
!bash/.bashrc
!bash/.bash_profile
!bash/.bash_aliases

# Paquete: nvim (Descomentar al migrar)
!nvim/.config/nvim/**
!install.sh
!pkglist-*.txt
!services-scope.txt
!services-user.txt
!sync.sh
!hypr/.config/hypr/**
!ghostty/.config/ghostty/**
!waybar/.config/waybar/**
!yazi/.config/yazi/**
!scripts/.local/bin/**
!systemd/.config/systemd/user/**
!pacman/hooks/**
!aether/.config/aether/custom/**
!mako/.config/mako/**
!eww/.config/eww/**

!hypr/.config/hypr/**
hypr/.config/hypr/theme_colors.lua

!waybar/.config/waybar/**
waybar/.config/waybar/colors-aether.css
