# 1. Bloqueo total (Default Deny)
*

# 2. Permitir a Git atravesar la estructura de directorios
!*/

# 3. Infraestructura del repositorio base
!.gitignore
!README.md

# 4. Configuraciones permitidas explícitamente
# Paquete: bash
!bash/.bashrc
!bash/.bash_profile
!bash/.bash_aliases

# Paquete: nvim (Descomentar al migrar)
#!nvim/.config/nvim/**
